@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: all;
}

:root {
    --font-body: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, Noto Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, sans-serif;
  }
  
  html {
    font-family: var(--font-body);
  }