@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes:
    light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro,
    cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel,
    fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid,
    lemonade, night, coffee, winter, dim, nord, sunset, caramellatte, abyss,
    silk;
  base: false;
  utils: false;
  logs: false;
  include:
    badge, collapse, carousel, card, button, dropdown, navbar, footer, select,
    link, menu, hover, card, hero, textarea, label, input, form;
}

:root {
  --font-body:
    ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    Noto Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji, sans-serif;
}

html {
  font-family: var(--font-body);
}
