---
import { frontmatter as metadata } from "../data/metadata.mdx";

const FaqData = metadata.faq ?? {};
const { title, items: faqs = [] } = FaqData;
---

<section class="bg-base-100 mx-auto max-w-3xl p-10">
  <h2 class="mb-6 text-center text-3xl font-bold">{title}</h2>
  <div class="space-y-3">
    {
      faqs.map((item) => (
        <div
          tabindex="0"
          class="collapse-arrow bg-base-100 border-base-300 collapse border"
        >
          <div class="collapse-title font-semibold">{item.q}</div>
          <div class="collapse-content text-sm">{item.a}</div>
        </div>
      ))
    }
  </div>
</section>
